@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.border
{
  border: 3px solid red !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
.footer {
  background-color: rgb(43, 31, 20);
  color: white;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}